.btn-dark,
a.btn-dark {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 80px;
    text-align: center;

    background-color: #000;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #333;
    }

    &--wide {
        width: 100%;
    }
}

.btn-green,
a.btn-green {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 80px;
    background-color: #00AE6C;

    font-size: 16px;
    font-weight: 700;
    color: #fff;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #00d785;
    }
}

.btn-outline,
a.btn-outline {
    display: inline-block;
    padding: 9px 20px;

    border: 1px solid #fff;
    border-radius: 80px;

    font-size: 16px;
    font-weight: 700;
    color: #fff;

    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.btn-price,
a.btn-price {
    display: inline-block;
    padding: 9px 20px;

    border: 1px solid #000;
    border-radius: 80px;

    font-size: 16px;
    font-weight: 700;
    color: #000;

    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.btn-tg,
a.btn-tg {
    display: inline-flex;
    column-gap: 10px;
    padding: 10px 20px;

    border-radius: 80px;
    background-color: #039BE5;

    font-size: 16px;
    font-weight: 700;
    color: #fff;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #0fafff;
    }
}

.btn-whatsapp,
a.btn-whatsapp {
    display: inline-flex;
    column-gap: 10px;
    padding: 10px 20px;

    border-radius: 80px;
    background-color: #00AE6C;

    font-size: 16px;
    font-weight: 700;
    color: #fff;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #05d182;
    }
}