.input {
    padding: 20px 30px;
    height: 60px;

    border-radius: 80px;
    border: 1px solid #b3b3b3;
    background-color: #fff;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}