.topic {
    padding: 30px 0;
    border-top: 1px solid #ececf1;
    border-bottom: 1px solid #ececf1;

    &+& {
        margin-top: -1px;
    }

    @include tablet {
        padding: 17px 0;
    }

    @include mobile {
        padding: 15px 0;
    }
}

.topic__btn {
    width: 100%;

    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;

    &:hover:not(:focus-visible) {
        opacity: 0.5;
    }

    &:active:not(:focus-visible) .topic__title {
        color: #00ae6c;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline-offset: 1px;
        outline: #005fcc auto 1px;
    }
}

.topic__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;

    @include mobile {
        font-size: 18px;
    }
}

.topic__icon {
    @include mobile {
        width: 32px;
        height: 32px;
    }
}

.topic__content {
    max-height: 0;



    line-height: 1.5;
    overflow: hidden;
    transition: all 0.2s ease-in;

    // Подчеркивание ссылок в развернутом тексте
    a {
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    @include mobile {
        padding-top: 13px;
        font-size: 14px;
    }

    &-padding {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }
}